@media screen and (max-width: 1250px){
    nav.desktop{
        display: none;
    }

    nav.mobile{
        display: block;
    }

    .botao-menu-mobile{
        font-size: 45px;
        cursor: pointer;
        color: black;
        padding-left: 10rem;
    }

    nav.mobile ul{
        top: 100px;
        z-index: 3;
        position: absolute;
        left: 0;
        width: 100%;
        display: none;
        text-align: center;
    }

    nav.mobile li{
        font-weight: 300;
        width: 100%;
        display: block;
        background: white;
        border-bottom: 1px solid #ccc;
        font-size: 17px;
        padding: 8px 0;
    }

    nav.mobile li a{
        display: block;
        color: #444;
        text-decoration: none;
    }

    #apresentation{
        width: 60%;
    
        background-color: white;
        padding: 5rem;
        border-radius: 1rem;
    
        
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        
        align-items: center;
        justify-content: center;
    }

    #apresentation h1{
        font-size: 2rem;
        text-align: center;
        margin: 1rem;
        color: black;
    }

    i{
        margin-top: 10px;
    }

    #apresentation h3 a{
        font-size: 1rem;
        text-align: center;
        color: black;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        word-wrap: break-word;

    }

    #apresentation_metodo{
        width: 40%;
    
        background-color: white;
        border-radius: 1rem;
    
        
        display: flex;
        flex-direction: column;
        
        align-items: center;
        justify-content: center;
    }

    table {
        margin: 0 auto;
        font-size: 10px;
        border: 1px;
    }
    
}